doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav  
    a(href="/")  Members Only 
    if currentUser
      p Hello !{currentUser.firstname.charAt(0).toUpperCase() + currentUser.firstname.slice(1)}
    div(class="links")
      a(href="/sign-up") Create Account
      if !currentUser
        a(href="/log-in") Log In
      if currentUser 
        form(action="/log-out" method="POST")
          button Log Out
  body
    block content
