doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/main.css')
  nav  
    a(href="/" class="title")  Members Only 
    div(class="links") 
      if !currentUser
        a(href="/sign-up") Create Account
        a(href="/log-in") Log In 
      if currentUser
        if currentUser.isMember === false
          a(href="/join") Join Club
        a(href="/new-message") New Message   
        form(action="/log-out" method="POST")
          button Log Out
  body
    block content
  footer
    a(href="https://github.com/sleander94" target="_blank")
      img(src="/images/iconmonstr-github-1.svg", alt="github logo")