doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav  
    a(href="/")  Members Only 
    if currentUser
      p Hello !{currentUser.firstname.charAt(0).toUpperCase() + currentUser.firstname.slice(1)}
    div(class="links") 
      if !currentUser
        a(href="/sign-up") Create Account
        a(href="/log-in") Log In 
      if currentUser
        if currentUser.isMember === false
          a(href="/join") Join Club
        if currentUser.isMember === true 
          p Club Member Zone
        a(href="/new-message") New Message   
        form(action="/log-out" method="POST")
          button Log Out
  body
    block content
