extends layout

block content
  h1 Log In
  form(action="" method="POST")
    div(class='form-field')
      label(for="username") Username:
      input(name="username" placeholder="Username" type="text" required=true)
    div(class="form-field")  
      label(for="password") Password:
      input(name="password" type="password" required=true)
    button Log In   
  if errors 
    ul 
      for error in errors 
        li= error.msg 