@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

nav .title {
  font-size: 2rem;
  color: #00adb5;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

@media only screen and (max-width: 640px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  nav .links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 0;
    gap: 4px;
    font-size: 1rem;
  }
}

#index .primary {
  font-weight: 600;
  color: #00adb5;
}

#index ul {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 0;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  list-style: none;
}

#index ul h2 {
  text-align: center;
  font-size: 1.3rem;
}

#index ul li {
  padding: 8px;
  border: 1px solid #00adb5;
}

#index ul .message-text,
#index ul p.primary {
  padding-top: 8px;
  border-top: 1px solid #eeeeee;
}

@media only screen and (max-width: 640px) {
  #index ul {
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: row;
    padding: 0;
  }
  #index li {
    width: 100%;
  }
}

#form form {
  display: -ms-grid;
  display: grid;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  gap: 18px;
}

#form form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form form .form-field label {
  width: 30%;
}

#form form .form-field input,
#form form .form-field textarea {
  width: 70%;
}

#form form .form-field input {
  height: 1rem;
}

#form form button {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #00adb5;
  padding: 4px;
  border: 1px solid #eeeeee;
}

@media only screen and (max-width: 640px) {
  #form form .form-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
  }
  #form form .form-field input,
  #form form .form-field label,
  #form form .form-field textarea {
    width: 100%;
  }
  #form form .form-field input,
  #form form .form-field textarea {
    font-size: 1rem;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #393e46;
  color: #eeeeee;
}

section,
nav {
  padding: 24px;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*# sourceMappingURL=main.css.map */